.v-autocomplete.theme--light {
  .v-input__icon--append {
    .v-icon > .v-icon__component {
      color: var(--v-hidden-base) !important;
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }
  .v-progress-linear__background {
    background-color: var(--v-secondary-base) !important;
  }
  &.v-text-field--enclosed:not(.v-text-field--filled) {
    .v-progress-linear__background {
      display: block !important;
    }
  }
}

.v-autocomplete__content.theme--light {
  .v-list-item__action {
    display: none !important;
  }
}
