.v-btn.theme--light {
  text-transform: none!important;
  .v-btn__content {
    .v-icon {
      margin-right: 8px;
    }
  }
  &.v-btn--disabled.v-btn--has-bg {
    background-color: var(--v-secondary-base) !important;
    opacity: 0.6;
    p, .v-icon, svg {
      color: var(--v-main-base) !important;
    }
  }
  &.v-btn--text {
    &:hover {
      &:before {
        opacity: 0;
      }
      p, .v-icon, svg {
        color: var(--v-secondary-base) !important;
      }
    }
    &:focus {
      &:before {
        opacity: 0;
      }
    }
  }
}