.v-card.theme--light {
  background-color: var(--v-primary-base) !important;
  border-radius: $block-border-radius;
  .v-card__title {
    line-height: 34px;
    padding: 40px 55px 0 55px;
  }
  .v-card__text {
    padding: 10px 40px 20px 55px;
  }
  .v-card__actions {
    padding: 66px 40px 40px 40px;
  }
}