.theme--light {
  .v-responsive {
    overflow: visible;
    @media screen and (max-width: 1615px) {
      margin: 0 auto !important;
      right: inherit !important;
      position: relative !important;
    }
    &.table-field--positioning {
      max-width: 1390px;
      position: relative;
      right: 8vw;
      float: right;
    }
  }
}
