.v-text-field.theme--light {
  &.v-text-field--outlined {
    .v-input__slot {
      fieldset {
        color: var(--v-border-base) !important;
      }
    }
  }
  &.v-text-field--enclosed {
    .v-input__append-inner {
      margin-top: 15px;
    }
    &:not(.v-text-field--rounded) {
      .v-input__control > .v-input__slot {
        padding: 0 16px;
      }
    }
  }
  .v-input__slot {
    margin-bottom: 0;
  }
  &.v-input--has-state {
    .v-input__slot {
      margin-bottom: 4px;
    }
  }
  .v-text-field__details {
    margin-bottom: 2px !important;
    padding-left: 4px !important;
  }
}