.v-text-field.theme--light {
  &.v-text-field--outlined {
    .v-input__slot {
      fieldset {
        color: var(--v-border-base) !important;
      }
    }
  }
  .v-input__slot {
    margin-bottom: 4px;
  }
  .v-text-field__details {
    margin-bottom: 2px !important;
    padding-left: 4px !important;
  }
}